<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Temporary jobs page">
  <title>Akalia</title>
  <%- include('../partials/head.ejs'); %>

</head>

<body>
  <%- include('../partials/navbar.ejs'); %>
    <main>
      
      <section>
        <!-- Banner principal -->
        <div class="akalia-banner" style="background-image: url('/img/imgs/banner.svg');">
          <div class="col-11 akalia-banner-content">
            <span class="akalia-banner-subtitle fs-5">Explora Akalia</span>
            <h1 class="akalia-banner-title fs-1">Conecta con el arte<br>hecho a mano</h1>
            <p class="akalia-banner-desc fs-6">Descubre piezas únicas hechas por manos colombianas.<br>
              Diseños con historia, tradición y alma.
            </p>
            <button class="btn btn-explorar" type="button" data-bs-target=".categoria-container">Explorar ahora</button>
          </div>
          <div class="col-11  d-flex flex-column align-items-end justify-content-end mb-5 ">
            <div class="d-flex align-items-center akalia-banner-register gap-2  p-3 rounded-2">
            <span class=" fst-italic fs-6">¿Quieres dar a conocer tu arte?</span>

            <button class="btn btn-terracota" data-bs-toggle="modal"
              data-bs-target="#registerModal">Registrarse</button>
          </div>
          </div>
        </div>
      </section>

      <section class="categoria-container pt-5 pb-3 px-0">
        <div class="container d-flex align-items-center justify-content-center flex-column gap-3">
          <h4>Elige una categoría y encuentra piezas auténticas con historia</h4>
          <h1 class="text-center text-negro">Explora las categorías</h1>
          <div class="row col-12 d-flex align-items-center justify-content-center">
            <% if (typeof categorias !=='undefined' && categorias.length) { %>
              <% categorias.forEach(categoria => { %>
                <div class="card-container col-4 col-md-4 mb-4 ">
                  <div class="card border-0 gap-3">
                    <img src="<%= categoria.imagenCategoria %>" class="card-img-top img-fluid h-100 object-fit-cover rounded card-img-fixed"
                      alt="<%= categoria.nombreCategoria %>">
                    <div class="card-body p-0">
                      <h5 class="card-title fw-bold d-none d-sm-block ">
                        <%= categoria.nombreCategoria %>
                      </h5>
                    </div>
                  </div>
                </div>
                <% }); %>
                  <% } else { %>
                    <li><span>Sin categorías</span></li>
                    <% } %>
          </div>
        </div>
      </section>

      <section class="container d-flex align-items-center justify-content-center flex-column gap-3">
        <h2>Productos destacados</h2>
        <div class="row col-10 col-md-12 d-flex align-items-center justify-content-center mx-md-5">
          <% if (typeof productos !=='undefined' && productos.length) { %>
            <% productos.slice(0,8).forEach(producto=> { %>
              <div onclick="showProductDetail('<%= producto.idProducto %>')" class="cursor-pointer col-10 col-sm-6 col-md-3 col-lg-3 mb-4  d-flex justify-content-center" style=" height: 350px">
                <article class="card rounded-0 border-0 ">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZgVTFVXw06YkQvxjziFsUcd3SROPwTXN-Mg&s" 
                    class="card-img-top img-fluid h-100 object-fit-cover rounded-0" alt="<%= producto.nombreProducto %>" /> 
                    <!-- <%= producto.imagenProducto %> --> 
                  <div class="card-body bg-light">
                    <h5 class="card-title mb-1 text-truncate w-100">
                      <%= producto.tituloProducto %>
                    </h5>
                    <p class="card-text text-muted mb-2 text-truncate w-100">
                      <%= producto.descripcionProducto %>
                    </p>
                    <p class="fw-semibold text-dark mb-0">
                      <%= producto.precio %>
                    </p>
                  </div>
                </article>
              </div>
              <% }); %>
                <% } else { %>
                  <li><span>Sin productos</span></li>
                  <% } %>
        </div>
      </section>

      <!-- FOOTER-->
      <%- include('../partials/footer.ejs'); %>
    </main>
    <script src="/lib/js/bootstrap.min.js.map"></script>
    <script src="/lib/js/bootstrap.bundle.min.js"></script>
    <script >

       function showProductDetail(id)  {
        window.location.href = `/productos/${id}`;
      }

    </script>
    <script src="/js/login_signup.js"></script>
    <!-- Bootstrap + FontAwesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
    <!-- Script personalizado -->
</body>
<%- include('../partials/modal-login.ejs'); %>
  <%- include('../partials/modal-signup.ejs'); %>


</html>