<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title><%= producto.tituloProducto %> | Akalia</title>
    <%- include('../partials/head.ejs'); %>
</head>

<body class="h-100 m-0 d-flex flex-column vh-100">
    <%- include('../partials/navbar.ejs'); %>
        <main class="container py-4">
            <div
                class="row product-container bg-blanco-light rounded shadow-sm  d-flex justify-content-center mx-auto gap-3">
                <div
                    class="container row col-12 col-md-7 d-flex align-items-center justify-content-center  imgs-container">
                    <!-- Miniaturas -->
                    <div class="miniature-container col-2 d-flex flex-column align-items-center gap-2">
                        <% imagenes.forEach(function(img, i) { %>
                            <img src="<%= img.urlImagen %>" class="img-thumbnail mb-2" alt="Miniatura <%= i+1 %>">
                            <% }) %>
                    </div>
                    <!-- Imagen principal + Info del artesano + Redes sociales -->
                    <div class="img-principal col-10 d-flex flex-column align-items-center justify-content-center">
                        <img src="<%= imagenes[0].urlImagen %>" class="img-fluid object-fit-contain rounded mb-3"
                            alt="<%= producto.nombre %>">
                    </div>
                </div>
                <!-- Info producto -->
                <div class="col-12 col-md-5 px-3">
                    <h2 class="fw-bold mb-2">
                        <%= producto.tituloProducto %>
                    </h2>
                    <h3 class="text-vinotinto mb-3">$ <%= producto.precio %>
                    </h3>
                    <h5 class="mb-2">Descripción:</h5>
                    <p class="mb-3">
                        <%= producto.descripcionProducto %>
                    </p>
                    <div class="mb-3">
                        <span class="fw-semibold text-muted">Categoría:</span>
                        <% if (categoriaP && categoriaP.length) { %>
                            <% categoriaP.forEach(categoria=> { %>
                                <span class="text-dark">
                                    <%= categoria.nombreCategoria %>
                                </span>
                                <% }); %>
                                    <% } else { %>
                                        <span class="text-dark">Sin categoría</span>
                                        <% } %>
                    </div>
                </div>

                <div class="col-12 d-flex col-md-5 flex-column align-items-center justify-content-start me-auto">

                    <!-- Hecho por -->
                    <div class="d-flex flex-column align-items-start justify-content-start ps-3">
                        <div class="mb-3 d-flex align-items-start justify-content-start gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"
                                fill="none">
                                <path
                                    d="M11.725 5.3375C11.725 5.0962 11.6775 4.85725 11.5851 4.63432C11.4928 4.41138 11.3574 4.20882 11.1868 4.03819C11.0162 3.86756 10.8136 3.73221 10.5907 3.63987C10.3677 3.54753 10.1288 3.5 9.8875 3.5C9.6462 3.5 9.40726 3.54753 9.18432 3.63987C8.96138 3.73221 8.75882 3.86756 8.58819 4.03819C8.41756 4.20882 8.28221 4.41138 8.18987 4.63432C8.09753 4.85725 8.05 5.0962 8.05 5.3375V8.8375M11.725 5.3375V3.5875C11.725 3.10016 11.9186 2.63279 12.2632 2.28819C12.6078 1.94359 13.0752 1.75 13.5625 1.75C14.0498 1.75 14.5172 1.94359 14.8618 2.28819C15.2064 2.63279 15.4 3.10016 15.4 3.5875V5.3375M11.725 5.3375L11.8125 12.25M8.05 8.8375C8.05 8.35017 7.85641 7.88279 7.51181 7.53819C7.16721 7.19359 6.69984 7 6.2125 7C5.72516 7 5.25779 7.19359 4.91319 7.53819C4.56859 7.88279 4.375 8.35017 4.375 8.8375V18.375C4.375 20.4636 5.20469 22.4666 6.68153 23.9435C8.15838 25.4203 10.1614 26.25 12.25 26.25H14.6043C16.2287 26.2498 17.7865 25.6044 18.935 24.4557L20.9557 22.435C22.1044 21.2865 22.7498 19.7287 22.75 18.1043L22.7535 15.743C22.7546 15.5365 22.8377 15.3388 22.9845 15.1935C23.1552 15.0228 23.2906 14.8202 23.3829 14.5972C23.4753 14.3742 23.5228 14.1352 23.5228 13.8938C23.5228 13.6525 23.4753 13.4135 23.3829 13.1905C23.2906 12.9675 23.1552 12.7648 22.9845 12.5942C22.8138 12.4235 22.6112 12.2881 22.3882 12.1957C22.1652 12.1034 21.9262 12.0558 21.6848 12.0558C21.4435 12.0558 21.2045 12.1034 20.9815 12.1957C20.7585 12.2881 20.5558 12.4235 20.3852 12.5942C19.5527 13.4255 19.083 14.5525 19.0785 15.729M8.05 8.8375V14M15.4 5.3375V13.125M15.4 5.3375C15.4 4.85016 15.5936 4.38279 15.9382 4.03819C16.2828 3.69359 16.7502 3.5 17.2375 3.5C17.7248 3.5 18.1922 3.69359 18.5368 4.03819C18.8814 4.38279 19.075 4.85016 19.075 5.3375V17.5M19.075 17.5C18.3859 17.4997 17.7034 17.6353 17.0668 17.8992C16.4302 18.163 15.8519 18.5499 15.365 19.0377M19.075 17.5H19.0773"
                                    stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <span class="text-dark fw-semibold">Hecho por <%= emprendimiento.nombreEmprendimiento %></span>
                        </div>

                        <!-- Redes sociales -->
                        <div class="mb-3 text-center d-flex flex-column align-items-start justify-content-start">
                            <h6 class="fw-semibold text-verde">Encuentranos en:</h6>
                            <div class="d-flex row gap-3 justify-content-start mt-2">

                                <% if (Array.isArray(redSocial)) { %>
                                    <% redSocial.forEach(rs => { %>
                                        <% if (rs && rs.nombreRedSocial && rs.url) { %>
                                            <div class="d-flex justify-content-start align-items-center gap-2">
                                                
                                                <% if (rs.nombreRedSocial==='facebook' ) { %>
                                                    <!-- Facebook SVG -->
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                                                        viewBox="0 0 28 28" fill="none">
                                                        <g clip-path="url(#clip0_168_102)">
                                                            <path
                                                                d="M28 14.0858C28 6.30529 21.7315 -0.00170898 14 -0.00170898C6.26501 4.10157e-05 -0.00349426 6.30529 -0.00349426 14.0875C-0.00349426 21.1173 5.11701 26.9448 11.809 28.0018V18.158H8.25651V14.0875H11.8125V10.9813C11.8125 7.45154 13.9038 5.50204 17.101 5.50204C18.634 5.50204 20.2353 5.77679 20.2353 5.77679V9.24179H18.4695C16.7318 9.24179 16.1893 10.3285 16.1893 11.4433V14.0858H20.0708L19.4513 18.1563H16.1875V28C22.8795 26.943 28 21.1155 28 14.0858Z"
                                                                fill="currentColor" />
                                                        </g>
                                                        <defs>
                                                            <clipPath id="clip0_168_102">
                                                                <rect width="28" height="28" fill="white" />
                                                            </clipPath>
                                                        </defs>
                                                    </svg> 
                                                    
                                                    <% } else if (rs.nombreRedSocial==='instagram' ) { %>
                                                        <!-- Instagram SVG -->
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                                                            viewBox="0 0 28 28" fill="none">
                                                            <g clip-path="url(#clip0_168_100)">
                                                                <path
                                                                    d="M14 0C10.2008 0 9.723 0.0175 8.23025 0.084C6.7375 0.154 5.72075 0.3885 4.83 0.735C3.89523 1.08557 3.04875 1.63695 2.35025 2.35025C1.63695 3.04875 1.08557 3.89523 0.735 4.83C0.3885 5.719 0.15225 6.7375 0.084 8.225C0.0175 9.72125 0 10.1973 0 14.0018C0 17.8027 0.0175 18.2788 0.084 19.7715C0.154 21.2625 0.3885 22.2792 0.735 23.17C1.09375 24.0905 1.5715 24.871 2.35025 25.6497C3.12725 26.4285 3.90775 26.908 4.82825 27.265C5.72075 27.6115 6.73575 27.8477 8.22675 27.916C9.72125 27.9825 10.1972 28 14 28C17.8027 28 18.277 27.9825 19.7715 27.916C21.2607 27.846 22.281 27.6115 23.1718 27.265C24.1059 26.9142 24.9518 26.3628 25.6497 25.6497C26.4285 24.871 26.9062 24.0905 27.265 23.17C27.6098 22.2792 27.846 21.2625 27.916 19.7715C27.9825 18.2788 28 17.8027 28 14C28 10.1972 27.9825 9.72125 27.916 8.22675C27.846 6.7375 27.6098 5.719 27.265 4.83C26.9144 3.89523 26.3631 3.04875 25.6497 2.35025C24.9513 1.63695 24.1048 1.08557 23.17 0.735C22.2775 0.3885 21.259 0.15225 19.7698 0.084C18.2752 0.0175 17.801 0 13.9965 0H14ZM12.7452 2.5235H14.0018C17.7397 2.5235 18.1825 2.53575 19.6577 2.604C21.0227 2.66525 21.7647 2.8945 22.2582 3.08525C22.911 3.339 23.3783 3.6435 23.8682 4.1335C24.3582 4.6235 24.661 5.089 24.9148 5.7435C25.1073 6.23525 25.3347 6.97725 25.396 8.34225C25.4643 9.8175 25.4783 10.2603 25.4783 13.9965C25.4783 17.7327 25.4643 18.1772 25.396 19.6525C25.3347 21.0175 25.1055 21.7577 24.9148 22.2513C24.6887 22.8583 24.3307 23.4076 23.8665 23.8595C23.3765 24.3495 22.911 24.6523 22.2565 24.906C21.7665 25.0985 21.0245 25.326 19.6577 25.389C18.1825 25.4555 17.7397 25.4713 14.0018 25.4713C10.2638 25.4713 9.81925 25.4555 8.344 25.389C6.979 25.326 6.23875 25.0985 5.74525 24.906C5.13771 24.6807 4.5878 24.3233 4.13525 23.8595C3.67023 23.4073 3.31157 22.8574 3.08525 22.2495C2.8945 21.7577 2.66525 21.0158 2.604 19.6507C2.5375 18.1755 2.5235 17.7327 2.5235 13.993C2.5235 10.2532 2.5375 9.814 2.604 8.33875C2.667 6.97375 2.8945 6.23175 3.087 5.73825C3.34075 5.0855 3.64525 4.61825 4.13525 4.12825C4.62525 3.63825 5.09075 3.3355 5.74525 3.08175C6.23875 2.88925 6.979 2.66175 8.344 2.59875C9.6355 2.53925 10.136 2.52175 12.7452 2.52V2.5235ZM21.4743 4.8475C21.2536 4.8475 21.0352 4.89095 20.8313 4.97538C20.6275 5.05981 20.4423 5.18356 20.2863 5.33956C20.1303 5.49556 20.0066 5.68076 19.9221 5.88459C19.8377 6.08842 19.7943 6.30688 19.7943 6.5275C19.7943 6.74812 19.8377 6.96658 19.9221 7.17041C20.0066 7.37423 20.1303 7.55944 20.2863 7.71544C20.4423 7.87144 20.6275 7.99519 20.8313 8.07962C21.0352 8.16405 21.2536 8.2075 21.4743 8.2075C21.9198 8.2075 22.3471 8.0305 22.6622 7.71544C22.9773 7.40038 23.1542 6.97306 23.1542 6.5275C23.1542 6.08194 22.9773 5.65462 22.6622 5.33956C22.3471 5.0245 21.9198 4.8475 21.4743 4.8475ZM14.0018 6.811C13.0481 6.79612 12.1011 6.9711 11.2157 7.32575C10.3304 7.68039 9.5244 8.20762 8.84476 8.87674C8.16513 9.54586 7.62539 10.3435 7.25697 11.2232C6.88856 12.1029 6.69883 13.0471 6.69883 14.0009C6.69883 14.9546 6.88856 15.8988 7.25697 16.7785C7.62539 17.6583 8.16513 18.4559 8.84476 19.125C9.5244 19.7941 10.3304 20.3214 11.2157 20.676C12.1011 21.0306 13.0481 21.2056 14.0018 21.1908C15.8892 21.1613 17.6894 20.3908 19.0137 19.0457C20.338 17.7005 21.0803 15.8886 21.0803 14.0009C21.0803 12.1132 20.338 10.3012 19.0137 8.95606C17.6894 7.6109 15.8892 6.84045 14.0018 6.811ZM14.0018 9.33275C14.6147 9.33275 15.2216 9.45347 15.7878 9.68802C16.3541 9.92257 16.8686 10.2664 17.302 10.6998C17.7354 11.1332 18.0792 11.6477 18.3137 12.2139C18.5483 12.7802 18.669 13.3871 18.669 14C18.669 14.6129 18.5483 15.2198 18.3137 15.7861C18.0792 16.3523 17.7354 16.8668 17.302 17.3002C16.8686 17.7336 16.3541 18.0774 15.7878 18.312C15.2216 18.5465 14.6147 18.6672 14.0018 18.6672C12.7639 18.6672 11.5768 18.1755 10.7015 17.3002C9.82623 16.425 9.3345 15.2378 9.3345 14C9.3345 12.7622 9.82623 11.575 10.7015 10.6998C11.5768 9.82448 12.7639 9.33275 14.0018 9.33275Z"
                                                                    fill="currentColor" />
                                                            </g>
                                                            <defs>
                                                                <clipPath id="clip0_168_100">
                                                                    <rect width="28" height="28" fill="white" />
                                                                </clipPath>
                                                            </defs>
                                                        </svg>
                                                        
                                                        <% } else if (rs.nombreRedSocial==='whatsapp' ) { %>
                                                            <!-- WhatsApp SVG -->
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="28"
                                                                height="28" viewBox="0 0 28 28" fill="none">
                                                                <g clip-path="url(#clip0_168_101)">
                                                                    <path
                                                                        d="M23.8018 4.0706C22.5183 2.77471 20.9897 1.74738 19.305 1.04851C17.6203 0.349645 15.8134 -0.00675644 13.9895 9.69938e-05C6.34725 9.69938e-05 0.119 6.2266 0.112 13.8706C0.112 16.3188 0.7525 18.7006 1.96175 20.8093L0 28.0001L7.357 26.0716C9.39135 27.1815 11.6721 27.7622 13.9895 27.7603H13.9965C21.6405 27.7603 27.867 21.5338 27.874 13.8828C27.8756 12.0595 27.5164 10.2538 26.8172 8.56975C26.118 6.88573 25.0943 5.35667 23.8018 4.0706ZM13.9895 25.4118C11.9231 25.4102 9.89489 24.8542 8.1165 23.8018L7.6965 23.5498L3.332 24.6943L4.4975 20.4366L4.2245 19.9973C3.06916 18.1604 2.45813 16.0336 2.46225 13.8636C2.46225 7.5181 7.637 2.3416 13.9965 2.3416C15.5115 2.33888 17.0121 2.63608 18.4118 3.21606C19.8114 3.79604 21.0824 4.64733 22.1515 5.72085C23.2241 6.79036 24.0744 8.06155 24.6535 9.46117C25.2325 10.8608 25.5289 12.3612 25.5255 13.8758C25.5185 20.2441 20.3438 25.4118 13.9895 25.4118ZM20.3158 16.7773C19.971 16.6041 18.2682 15.7658 17.948 15.6468C17.6295 15.5331 17.3967 15.4736 17.1693 15.8201C16.9365 16.1648 16.2715 16.9506 16.072 17.1763C15.8725 17.4091 15.666 17.4353 15.3195 17.2638C14.9747 17.0888 13.8565 16.7248 12.5335 15.5401C11.501 14.6213 10.8097 13.4838 10.6033 13.1391C10.4038 12.7926 10.584 12.6071 10.7572 12.4338C10.9095 12.2798 11.102 12.0278 11.2752 11.8283C11.4502 11.6288 11.508 11.4818 11.6217 11.2508C11.7355 11.0163 11.6812 10.8168 11.5955 10.6436C11.508 10.4703 10.8167 8.7606 10.5245 8.0711C10.2445 7.39035 9.95925 7.48485 9.74575 7.4761C9.54625 7.46385 9.3135 7.46385 9.08075 7.46385C8.90501 7.46832 8.73208 7.50902 8.57278 7.5834C8.41349 7.65777 8.27126 7.76423 8.155 7.8961C7.8365 8.2426 6.94575 9.08085 6.94575 10.7906C6.94575 12.5003 8.18825 14.1436 8.36325 14.3763C8.53475 14.6091 10.8027 18.1073 14.2835 19.6123C15.106 19.9711 15.7535 20.1828 16.2593 20.3438C17.0905 20.6098 17.8412 20.5696 18.4397 20.4838C19.1047 20.3823 20.489 19.6438 20.7812 18.8336C21.0683 18.0216 21.0683 17.3286 20.9808 17.1833C20.895 17.0363 20.6623 16.9506 20.3158 16.7773Z"
                                                                        fill="currentColor" />
                                                                </g>
                                                                <defs>
                                                                    <clipPath id="clip0_168_101">
                                                                        <rect width="28" height="28" fill="white" />
                                                                    </clipPath>
                                                                </defs>
                                                            </svg>
                                                            <% } %>
                                                            <a href="<%= rs.url %>" class="text-decoration-none"
                                                                target="_blank">
                                                                <%= rs.url %>
                                                            </a>
                                            </div>
                                        <% } %>
                                                
                                    <% }); %>

                                <% } %>
                                                            <div
                                                                class="d-flex justify-content-start align-items-center">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="28"
                                                                    height="28" viewBox="0 0 28 28" fill="none">
                                                                    <path
                                                                        d="M23.6251 1.7503C22.9289 1.7503 22.2612 2.02683 21.7689 2.51904C21.2767 3.01126 21.0001 3.67884 21.0001 4.37494C21.0001 5.07103 21.2767 5.73862 21.7689 6.23083C22.2612 6.72305 22.9289 6.99957 23.6251 6.99957C24.3213 6.99957 24.9889 6.72305 25.4812 6.23083C25.9735 5.73862 26.25 5.07103 26.25 4.37494C26.25 3.67884 25.9735 3.01126 25.4812 2.51904C24.9889 2.02683 24.3213 1.7503 23.6251 1.7503ZM19.2501 4.37494C19.25 3.34859 19.6108 2.35487 20.2694 1.56765C20.9281 0.780426 21.8426 0.249826 22.8529 0.0686799C23.8633 -0.112466 24.9052 0.0673785 25.7963 0.576748C26.6875 1.08612 27.3711 1.89258 27.7276 2.85503C28.0842 3.81748 28.0909 4.87463 27.7466 5.84153C27.4023 6.80843 26.729 7.62351 25.8444 8.14416C24.9598 8.66481 23.9203 8.85787 22.9077 8.68957C21.8951 8.52127 20.9739 8.00233 20.3054 7.22354L8.54907 12.6828C8.81923 13.5392 8.81923 14.458 8.54907 15.3144L20.3054 20.7736C21.0121 19.9518 21.9988 19.4216 23.0742 19.2857C24.1496 19.1499 25.2371 19.418 26.1261 20.0382C27.015 20.6584 27.6421 21.5865 27.8857 22.6426C28.1293 23.6987 27.9721 24.8076 27.4445 25.7544C26.917 26.7013 26.0567 27.4186 25.0304 27.7673C24.0041 28.1161 22.8849 28.0715 21.8896 27.6421C20.8943 27.2128 20.0939 26.4293 19.6434 25.4435C19.1929 24.4577 19.1245 23.3398 19.4514 22.3064L7.69509 16.8472C7.11311 17.5253 6.33737 18.009 5.47224 18.2331C4.6071 18.4573 3.69407 18.4111 2.85596 18.1008C2.01785 17.7906 1.29488 17.2311 0.784289 16.4977C0.273703 15.7643 0 14.8922 0 13.9986C0 13.105 0.273703 12.2328 0.784289 11.4994C1.29488 10.766 2.01785 10.2066 2.85596 9.89632C3.69407 9.58607 4.6071 9.5399 5.47224 9.76403C6.33737 9.98816 7.11311 10.4718 7.69509 11.15L19.4514 5.69075C19.3176 5.26498 19.2497 4.82124 19.2501 4.37494ZM4.37539 11.374C3.67921 11.374 3.01154 11.6505 2.51927 12.1427C2.02699 12.6349 1.75044 13.3025 1.75044 13.9986C1.75044 14.6947 2.02699 15.3623 2.51927 15.8545C3.01154 16.3467 3.67921 16.6232 4.37539 16.6232C5.07157 16.6232 5.73924 16.3467 6.23152 15.8545C6.72379 15.3623 7.00035 14.6947 7.00035 13.9986C7.00035 13.3025 6.72379 12.6349 6.23152 12.1427C5.73924 11.6505 5.07157 11.374 4.37539 11.374ZM23.6251 20.9976C22.9289 20.9976 22.2612 21.2741 21.7689 21.7663C21.2767 22.2586 21.0001 22.9261 21.0001 23.6222C21.0001 24.3183 21.2767 24.9859 21.7689 25.4781C22.2612 25.9703 22.9289 26.2469 23.6251 26.2469C24.3213 26.2469 24.9889 25.9703 25.4812 25.4781C25.9735 24.9859 26.25 24.3183 26.25 23.6222C26.25 22.9261 25.9735 22.2586 25.4812 21.7663C24.9889 21.2741 24.3213 20.9976 23.6251 20.9976Z"
                                                                        fill="currentColor" />
                                                                </svg>
                                                                <button class="btn"
                                                                    onclick="navigator.clipboard.writeText(window.location.href)">Compartir
                                                                    publicación</button>
                                                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../partials/footer.ejs'); %>
            <script src="/lib/js/bootstrap.min.js.map"></script>
            <script src="/lib/js/bootstrap.bundle.min.js"></script>
            <script src="/js/productos.js"> </script>
            <script src="/js/login_signup.js"></script>
            <!-- Bootstrap + FontAwesome -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>

</body>
<%- include('../partials/modal-login.ejs'); %>
    <%- include('../partials/modal-signup.ejs'); %>

</html>