<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Mi Perfil | Akalia</title>
  <%- include('../partials/head.ejs'); %>
    <link rel="stylesheet" href="/styles/usuario-perfil.css"><!-- Crea este archivo para estilos personalizados -->
</head>

<body class="d-flex flex-column min-vh-100 m-0 bg-blanco-light">
  <%- include('../partials/navbar.ejs'); %>
    <div class="layout d-flex">
      <%- include('../partials/sidebar.ejs'); %>
        <main class="flex-grow-1 d-flex flex-column justify-content-center align-items-center py-5">
          <section class="usuario-perfil-card">
            <h2 class="usuario-perfil-title">Mi Perfil</h2>
            <div class="usuario-perfil-info">
              <div class="row mb-3">
                <div class="col-md-6 mb-3 mb-md-0">
                  <strong class="usuario-perfil-label">Nombres y apellido</strong>
                  <div>
                    <%= usuario.nombreUsuario %>
                      <%= usuario.apellidoUsuario %>
                  </div>

                </div>
                <div class="col-md-6">
                  <strong class="usuario-perfil-label">Celular</strong>
                  <div>
                    <%= usuario.telefono %>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6 mb-3 mb-md-0">
                  <strong class="usuario-perfil-label">Correo</strong>
                  <div>
                    <%= usuario.email %>
                  </div>
                </div>
                <div class="col-md-6">
                  <strong class="usuario-perfil-label">Contraseña</strong>
                  <div>
                    <%= usuario.contrasena %>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-md-6">
                  <strong class="usuario-perfil-label">Fecha de registro</strong>
                  <div>
                    <%= usuario.fechaRegistro %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 d-flex flex-column align-items-md-end gap-2">

                  <button id="btnEditarPerfil" class="btn btn-terracota d-flex align-items-center gap-2 px-4 mb-2"
                    type="button" data-id="<%= usuario.idPersona %>">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 28 28" fill="none">
  <g clip-path="url(#clip0_168_47)">
    <path d="M21.2555 0.255477C21.3368 0.173992 21.4333 0.109342 21.5396 0.0652303C21.6459 0.021119 21.7599 -0.00158691 21.875 -0.00158691C21.9901 -0.00158691 22.1041 0.021119 22.2104 0.0652303C22.3167 0.109342 22.4132 0.173992 22.4945 0.255477L27.7445 5.50548C27.826 5.58676 27.8906 5.68331 27.9347 5.78962C27.9789 5.89592 28.0016 6.00988 28.0016 6.12498C28.0016 6.24007 27.9789 6.35403 27.9347 6.46034C27.8906 6.56664 27.826 6.6632 27.7445 6.74448L10.2445 24.2445C10.1605 24.3279 10.0605 24.3934 9.9505 24.437L1.2005 27.937C1.04148 28.0006 0.867289 28.0162 0.699505 27.9818C0.531722 27.9474 0.377729 27.8645 0.256618 27.7434C0.135506 27.6222 0.0526026 27.4683 0.0181846 27.3005C-0.0162335 27.1327 -0.000652346 26.9585 0.0629963 26.7995L3.563 18.0495C3.60662 17.9395 3.67211 17.8395 3.7555 17.7555L21.2555 0.255477ZM19.6122 4.37498L23.625 8.38773L25.8877 6.12498L21.875 2.11223L19.6122 4.37498ZM22.3877 9.62498L18.375 5.61223L7 16.9872V17.5H7.875C8.10706 17.5 8.32962 17.5922 8.49371 17.7563C8.65781 17.9204 8.75 18.1429 8.75 18.375V19.25H9.625C9.85706 19.25 10.0796 19.3422 10.2437 19.5063C10.4078 19.6704 10.5 19.8929 10.5 20.125V21H11.0127L22.3877 9.62498ZM5.306 18.6812L5.1205 18.8667L2.4465 25.5535L9.13325 22.8795L9.31875 22.694C9.15183 22.6316 9.00793 22.5198 8.9063 22.3734C8.80466 22.2271 8.75013 22.0532 8.75 21.875V21H7.875C7.64293 21 7.42037 20.9078 7.25628 20.7437C7.09218 20.5796 7 20.357 7 20.125V19.25H6.125C5.94681 19.2498 5.77291 19.1953 5.62656 19.0937C5.4802 18.992 5.36836 18.8481 5.306 18.6812Z" fill="currentColor"/>
  </g>
  <defs>
    <clipPath id="clip0_168_47">
      <rect width="28" height="28" fill="white"/>
    </clipPath>
  </defs>
</svg> Editar
                  </button>

                  <button id="btnEliminarCuenta"
                    class="btn btn-basic d-flex align-items-center gap-2 px-4 usuario-perfil-eliminar" type="button"
                    data-id="<%= usuario.idPersona %>">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 28 28" fill="none">
  <path d="M11.375 1.75H16.625C16.8571 1.75 17.0796 1.84219 17.2437 2.00628C17.4078 2.17038 17.5 2.39294 17.5 2.625V4.375H10.5V2.625C10.5 2.39294 10.5922 2.17038 10.7563 2.00628C10.9204 1.84219 11.1429 1.75 11.375 1.75ZM19.25 4.375V2.625C19.25 1.92881 18.9734 1.26113 18.4812 0.768845C17.9889 0.276562 17.3212 0 16.625 0L11.375 0C10.6788 0 10.0111 0.276562 9.51884 0.768845C9.02656 1.26113 8.75 1.92881 8.75 2.625V4.375H2.625C2.39294 4.375 2.17038 4.46719 2.00628 4.63128C1.84219 4.79538 1.75 5.01794 1.75 5.25C1.75 5.48206 1.84219 5.70462 2.00628 5.86872C2.17038 6.03281 2.39294 6.125 2.625 6.125H3.5665L5.05925 24.78C5.12964 25.6571 5.52782 26.4755 6.17448 27.0722C6.82114 27.6689 7.66884 28.0002 8.54875 28H19.4513C20.3312 28.0002 21.1789 27.6689 21.8255 27.0722C22.4722 26.4755 22.8704 25.6571 22.9408 24.78L24.4335 6.125H25.375C25.6071 6.125 25.8296 6.03281 25.9937 5.86872C26.1578 5.70462 26.25 5.48206 26.25 5.25C26.25 5.01794 26.1578 4.79538 25.9937 4.63128C25.8296 4.46719 25.6071 4.375 25.375 4.375H19.25ZM22.6765 6.125L21.196 24.64C21.1608 25.0785 20.9617 25.4877 20.6384 25.7861C20.3151 26.0845 19.8912 26.2501 19.4513 26.25H8.54875C8.10879 26.2501 7.68495 26.0845 7.36162 25.7861C7.03828 25.4877 6.8392 25.0785 6.804 24.64L5.3235 6.125H22.6765ZM9.57425 7.875C9.80583 7.86161 10.0333 7.94074 10.2065 8.09497C10.3798 8.2492 10.4847 8.46593 10.4983 8.6975L11.3733 23.5725C11.3824 23.8014 11.3015 24.0247 11.1479 24.1946C10.9942 24.3644 10.7801 24.4673 10.5515 24.481C10.3228 24.4948 10.0979 24.4183 9.92503 24.2681C9.75213 24.1179 9.64504 23.9058 9.62675 23.6775L8.75 8.8025C8.7429 8.68755 8.75855 8.57232 8.79608 8.46344C8.8336 8.35455 8.89225 8.25414 8.96867 8.16797C9.04508 8.0818 9.13776 8.01156 9.24138 7.96129C9.345 7.91101 9.45752 7.88169 9.5725 7.875H9.57425ZM18.4258 7.875C18.5407 7.88169 18.6533 7.91101 18.7569 7.96129C18.8605 8.01156 18.9532 8.0818 19.0296 8.16797C19.106 8.25414 19.1646 8.35455 19.2022 8.46344C19.2397 8.57232 19.2554 8.68755 19.2482 8.8025L18.3732 23.6775C18.3686 23.7938 18.3408 23.908 18.2914 24.0134C18.2421 24.1187 18.1722 24.2132 18.0859 24.2913C17.9996 24.3694 17.8986 24.4294 17.7888 24.468C17.679 24.5065 17.5626 24.5228 17.4464 24.5158C17.3303 24.5088 17.2167 24.4787 17.1123 24.4273C17.0079 24.3759 16.9148 24.3042 16.8385 24.2163C16.7621 24.1285 16.7041 24.0263 16.6677 23.9157C16.6314 23.8052 16.6175 23.6885 16.6268 23.5725L17.5018 8.6975C17.5153 8.46593 17.6202 8.2492 17.7935 8.09497C17.9667 7.94074 18.1942 7.86161 18.4258 7.875ZM14 7.875C14.2321 7.875 14.4546 7.96719 14.6187 8.13128C14.7828 8.29538 14.875 8.51794 14.875 8.75V23.625C14.875 23.8571 14.7828 24.0796 14.6187 24.2437C14.4546 24.4078 14.2321 24.5 14 24.5C13.7679 24.5 13.5454 24.4078 13.3813 24.2437C13.2172 24.0796 13.125 23.8571 13.125 23.625V8.75C13.125 8.51794 13.2172 8.29538 13.3813 8.13128C13.5454 7.96719 13.7679 7.875 14 7.875Z" fill="currentColor"/>
</svg>
                    Eliminar cuenta
                  </button>

                </div>
              </div>
            </div>
          </section>
        </main>
    </div>
    <%- include('../partials/footer.ejs'); %>
      <script src="/js/perfilUsuario.js"></script>
      <script src="/lib/js/bootstrap.min.js.map"></script>
    <script src="/lib/js/bootstrap.bundle.min.js"></script>
    <script src="/js/login_signup.js"></script>
    <!-- Bootstrap + FontAwesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
</body>

</html>