<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Mis Emprendimientos | Akalia</title>
    <%- include('../partials/head.ejs'); %>
        <link rel="stylesheet" href="/styles/usuario-perfil.css"><!-- Crea este archivo para estilos personalizados -->
</head>

<body class="h-100 m-0 d-flex flex-column vh-100 bg-blanco-light">
    <%- include('../partials/navbar.ejs'); %>
        <div class="d-flex flex-row h-100">
            <%- include('../partials/sidebar.ejs'); %>
                <main class="flex-grow-1 d-flex flex-column justify-content-center align-content-center py-5">
                    <section class="usuario-perfil-card overflow-auto">
                        <div
                            class="d-flex flex-md-row flex-column justify-content-between align-items-start pb-4 gap-3">
                            <h2 class="usuario-perfil-title m-0">Detalle </h2>

                        </div>

                        <article class="usuario-perfil-info d-flex flex-column gap-3 mb-3">

                            <div class="d-flex flex-column flex-md-row gap-4 align-items-center ">
                                <!-- Logo del emprendimiento -->
                                <div class="d-flex justify-content-center align-items-center">
                                    <img src="<%= emprendimiento.imagenLogo %>" alt="Logo emprendimiento"
                                        class="rounded-circle"
                                        style="width: 100px; height: 100px; object-fit: cover; border: 1px solid #b9b9b9;" />
                                </div>
                                <!-- Información general -->
                                <div class="d-flex flex-column justify-content-center align-items-start gap-3 col-md-8">
                                    <h4 class=" mb-1">
                                        <%= emprendimiento.nombreEmprendimiento %>
                                    </h4>
                                    <p class="mb-2">
                                        <%= emprendimiento.descripcionNegocio %>
                                    </p>
                                    <!-- Redes sociales -->
                                    <div class="d-flex justify-content-start align-items-center gap-2">
                                        <% if (Array.isArray(redSocial) && redSocial.length> 0) { %>
                                            <% redSocial.forEach(rs=> { %>
                                                <% if (rs.nombreRedSocial==='facebook' ) { %>
                                                    <!-- Facebook SVG -->
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                                                        viewBox="0 0 28 28" fill="none">
                                                        <g clip-path="url(#clip0_168_102)">
                                                            <path
                                                                d="M28 14.0858C28 6.30529 21.7315 -0.00170898 14 -0.00170898C6.26501 4.10157e-05 -0.00349426 6.30529 -0.00349426 14.0875C-0.00349426 21.1173 5.11701 26.9448 11.809 28.0018V18.158H8.25651V14.0875H11.8125V10.9813C11.8125 7.45154 13.9038 5.50204 17.101 5.50204C18.634 5.50204 20.2353 5.77679 20.2353 5.77679V9.24179H18.4695C16.7318 9.24179 16.1893 10.3285 16.1893 11.4433V14.0858H20.0708L19.4513 18.1563H16.1875V28C22.8795 26.943 28 21.1155 28 14.0858Z"
                                                                fill="currentColor" />
                                                        </g>
                                                        <defs>
                                                            <clipPath id="clip0_168_102">
                                                                <rect width="28" height="28" fill="white" />
                                                            </clipPath>
                                                        </defs>
                                                    </svg>

                                                    <% } else if (rs.nombreRedSocial==='instagram' ) { %>
                                                        <!-- Instagram SVG -->
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                                                            viewBox="0 0 28 28" fill="none">
                                                            <g clip-path="url(#clip0_168_100)">
                                                                <path
                                                                    d="M14 0C10.2008 0 9.723 0.0175 8.23025 0.084C6.7375 0.154 5.72075 0.3885 4.83 0.735C3.89523 1.08557 3.04875 1.63695 2.35025 2.35025C1.63695 3.04875 1.08557 3.89523 0.735 4.83C0.3885 5.719 0.15225 6.7375 0.084 8.225C0.0175 9.72125 0 10.1973 0 14.0018C0 17.8027 0.0175 18.2788 0.084 19.7715C0.154 21.2625 0.3885 22.2792 0.735 23.17C1.09375 24.0905 1.5715 24.871 2.35025 25.6497C3.12725 26.4285 3.90775 26.908 4.82825 27.265C5.72075 27.6115 6.73575 27.8477 8.22675 27.916C9.72125 27.9825 10.1972 28 14 28C17.8027 28 18.277 27.9825 19.7715 27.916C21.2607 27.846 22.281 27.6115 23.1718 27.265C24.1059 26.9142 24.9518 26.3628 25.6497 25.6497C26.4285 24.871 26.9062 24.0905 27.265 23.17C27.6098 22.2792 27.846 21.2625 27.916 19.7715C27.9825 18.2788 28 17.8027 28 14C28 10.1972 27.9825 9.72125 27.916 8.22675C27.846 6.7375 27.6098 5.719 27.265 4.83C26.9144 3.89523 26.3631 3.04875 25.6497 2.35025C24.9513 1.63695 24.1048 1.08557 23.17 0.735C22.2775 0.3885 21.259 0.15225 19.7698 0.084C18.2752 0.0175 17.801 0 13.9965 0H14ZM12.7452 2.5235H14.0018C17.7397 2.5235 18.1825 2.53575 19.6577 2.604C21.0227 2.66525 21.7647 2.8945 22.2582 3.08525C22.911 3.339 23.3783 3.6435 23.8682 4.1335C24.3582 4.6235 24.661 5.089 24.9148 5.7435C25.1073 6.23525 25.3347 6.97725 25.396 8.34225C25.4643 9.8175 25.4783 10.2603 25.4783 13.9965C25.4783 17.7327 25.4643 18.1772 25.396 19.6525C25.3347 21.0175 25.1055 21.7577 24.9148 22.2513C24.6887 22.8583 24.3307 23.4076 23.8665 23.8595C23.3765 24.3495 22.911 24.6523 22.2565 24.906C21.7665 25.0985 21.0245 25.326 19.6577 25.389C18.1825 25.4555 17.7397 25.4713 14.0018 25.4713C10.2638 25.4713 9.81925 25.4555 8.344 25.389C6.979 25.326 6.23875 25.0985 5.74525 24.906C5.13771 24.6807 4.5878 24.3233 4.13525 23.8595C3.67023 23.4073 3.31157 22.8574 3.08525 22.2495C2.8945 21.7577 2.66525 21.0158 2.604 19.6507C2.5375 18.1755 2.5235 17.7327 2.5235 13.993C2.5235 10.2532 2.5375 9.814 2.604 8.33875C2.667 6.97375 2.8945 6.23175 3.087 5.73825C3.34075 5.0855 3.64525 4.61825 4.13525 4.12825C4.62525 3.63825 5.09075 3.3355 5.74525 3.08175C6.23875 2.88925 6.979 2.66175 8.344 2.59875C9.6355 2.53925 10.136 2.52175 12.7452 2.52V2.5235ZM21.4743 4.8475C21.2536 4.8475 21.0352 4.89095 20.8313 4.97538C20.6275 5.05981 20.4423 5.18356 20.2863 5.33956C20.1303 5.49556 20.0066 5.68076 19.9221 5.88459C19.8377 6.08842 19.7943 6.30688 19.7943 6.5275C19.7943 6.74812 19.8377 6.96658 19.9221 7.17041C20.0066 7.37423 20.1303 7.55944 20.2863 7.71544C20.4423 7.87144 20.6275 7.99519 20.8313 8.07962C21.0352 8.16405 21.2536 8.2075 21.4743 8.2075C21.9198 8.2075 22.3471 8.0305 22.6622 7.71544C22.9773 7.40038 23.1542 6.97306 23.1542 6.5275C23.1542 6.08194 22.9773 5.65462 22.6622 5.33956C22.3471 5.0245 21.9198 4.8475 21.4743 4.8475ZM14.0018 6.811C13.0481 6.79612 12.1011 6.9711 11.2157 7.32575C10.3304 7.68039 9.5244 8.20762 8.84476 8.87674C8.16513 9.54586 7.62539 10.3435 7.25697 11.2232C6.88856 12.1029 6.69883 13.0471 6.69883 14.0009C6.69883 14.9546 6.88856 15.8988 7.25697 16.7785C7.62539 17.6583 8.16513 18.4559 8.84476 19.125C9.5244 19.7941 10.3304 20.3214 11.2157 20.676C12.1011 21.0306 13.0481 21.2056 14.0018 21.1908C15.8892 21.1613 17.6894 20.3908 19.0137 19.0457C20.338 17.7005 21.0803 15.8886 21.0803 14.0009C21.0803 12.1132 20.338 10.3012 19.0137 8.95606C17.6894 7.6109 15.8892 6.84045 14.0018 6.811ZM14.0018 9.33275C14.6147 9.33275 15.2216 9.45347 15.7878 9.68802C16.3541 9.92257 16.8686 10.2664 17.302 10.6998C17.7354 11.1332 18.0792 11.6477 18.3137 12.2139C18.5483 12.7802 18.669 13.3871 18.669 14C18.669 14.6129 18.5483 15.2198 18.3137 15.7861C18.0792 16.3523 17.7354 16.8668 17.302 17.3002C16.8686 17.7336 16.3541 18.0774 15.7878 18.312C15.2216 18.5465 14.6147 18.6672 14.0018 18.6672C12.7639 18.6672 11.5768 18.1755 10.7015 17.3002C9.82623 16.425 9.3345 15.2378 9.3345 14C9.3345 12.7622 9.82623 11.575 10.7015 10.6998C11.5768 9.82448 12.7639 9.33275 14.0018 9.33275Z"
                                                                    fill="currentColor" />
                                                            </g>
                                                            <defs>
                                                                <clipPath id="clip0_168_100">
                                                                    <rect width="28" height="28" fill="white" />
                                                                </clipPath>
                                                            </defs>
                                                        </svg>

                                                        <% } else if (rs.nombreRedSocial==='whatsapp' ) { %>
                                                            <!-- WhatsApp SVG -->
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="28"
                                                                height="28" viewBox="0 0 28 28" fill="none">
                                                                <g clip-path="url(#clip0_168_101)">
                                                                    <path
                                                                        d="M23.8018 4.0706C22.5183 2.77471 20.9897 1.74738 19.305 1.04851C17.6203 0.349645 15.8134 -0.00675644 13.9895 9.69938e-05C6.34725 9.69938e-05 0.119 6.2266 0.112 13.8706C0.112 16.3188 0.7525 18.7006 1.96175 20.8093L0 28.0001L7.357 26.0716C9.39135 27.1815 11.6721 27.7622 13.9895 27.7603H13.9965C21.6405 27.7603 27.867 21.5338 27.874 13.8828C27.8756 12.0595 27.5164 10.2538 26.8172 8.56975C26.118 6.88573 25.0943 5.35667 23.8018 4.0706ZM13.9895 25.4118C11.9231 25.4102 9.89489 24.8542 8.1165 23.8018L7.6965 23.5498L3.332 24.6943L4.4975 20.4366L4.2245 19.9973C3.06916 18.1604 2.45813 16.0336 2.46225 13.8636C2.46225 7.5181 7.637 2.3416 13.9965 2.3416C15.5115 2.33888 17.0121 2.63608 18.4118 3.21606C19.8114 3.79604 21.0824 4.64733 22.1515 5.72085C23.2241 6.79036 24.0744 8.06155 24.6535 9.46117C25.2325 10.8608 25.5289 12.3612 25.5255 13.8758C25.5185 20.2441 20.3438 25.4118 13.9895 25.4118ZM20.3158 16.7773C19.971 16.6041 18.2682 15.7658 17.948 15.6468C17.6295 15.5331 17.3967 15.4736 17.1693 15.8201C16.9365 16.1648 16.2715 16.9506 16.072 17.1763C15.8725 17.4091 15.666 17.4353 15.3195 17.2638C14.9747 17.0888 13.8565 16.7248 12.5335 15.5401C11.501 14.6213 10.8097 13.4838 10.6033 13.1391C10.4038 12.7926 10.584 12.6071 10.7572 12.4338C10.9095 12.2798 11.102 12.0278 11.2752 11.8283C11.4502 11.6288 11.508 11.4818 11.6217 11.2508C11.7355 11.0163 11.6812 10.8168 11.5955 10.6436C11.508 10.4703 10.8167 8.7606 10.5245 8.0711C10.2445 7.39035 9.95925 7.48485 9.74575 7.4761C9.54625 7.46385 9.3135 7.46385 9.08075 7.46385C8.90501 7.46832 8.73208 7.50902 8.57278 7.5834C8.41349 7.65777 8.27126 7.76423 8.155 7.8961C7.8365 8.2426 6.94575 9.08085 6.94575 10.7906C6.94575 12.5003 8.18825 14.1436 8.36325 14.3763C8.53475 14.6091 10.8027 18.1073 14.2835 19.6123C15.106 19.9711 15.7535 20.1828 16.2593 20.3438C17.0905 20.6098 17.8412 20.5696 18.4397 20.4838C19.1047 20.3823 20.489 19.6438 20.7812 18.8336C21.0683 18.0216 21.0683 17.3286 20.9808 17.1833C20.895 17.0363 20.6623 16.9506 20.3158 16.7773Z"
                                                                        fill="currentColor" />
                                                                </g>
                                                                <defs>
                                                                    <clipPath id="clip0_168_101">
                                                                        <rect width="28" height="28" fill="white" />
                                                                    </clipPath>
                                                                </defs>
                                                            </svg>
                                                            <% } %>
                                                                <a href="<%= rs.url %>" class="text-decoration-none"
                                                                    target="_blank">
                                                                    <%= rs.url %>
                                                                </a>

                                                                <% }); %>
                                                                    <% } else { %>
                                                                        <p>No tiene redes sociales registradas.
                                                                        </p>
                                                                        <% } %>
                                    </div>

                                </div>
                                <!-- Acciones -->
                                <div
                                    class="d-flex flex-md-column gap-2 justify-content-center my-auto align-items-center w-100  ">
                                    <button class="w-100 btn btn-disable px-3 py-2 d-none">Activo</button>
                                    <div class="d-flex col-5 col-md-12 justify-content-center w-md-100">

                                        <button class="btn text-vinotinto" title="Editar"
                                            onclick="editUserProductDetail('<%= usuario.idPersona %>','<%= emprendimiento.idEmprendimiento %>')">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                                                viewBox="0 0 28 28" fill="none">
                                                <g clip-path="url(#clip0_168_47)">
                                                    <path
                                                        d="M21.2555 0.255477C21.3368 0.173992 21.4333 0.109342 21.5396 0.0652303C21.6459 0.021119 21.7599 -0.00158691 21.875 -0.00158691C21.9901 -0.00158691 22.1041 0.021119 22.2104 0.0652303C22.3167 0.109342 22.4132 0.173992 22.4945 0.255477L27.7445 5.50548C27.826 5.58676 27.8906 5.68331 27.9347 5.78962C27.9789 5.89592 28.0016 6.00988 28.0016 6.12498C28.0016 6.24007 27.9789 6.35403 27.9347 6.46034C27.8906 6.56664 27.826 6.6632 27.7445 6.74448L10.2445 24.2445C10.1605 24.3279 10.0605 24.3934 9.9505 24.437L1.2005 27.937C1.04148 28.0006 0.867289 28.0162 0.699505 27.9818C0.531722 27.9474 0.377729 27.8645 0.256618 27.7434C0.135506 27.6222 0.0526026 27.4683 0.0181846 27.3005C-0.0162335 27.1327 -0.000652346 26.9585 0.0629963 26.7995L3.563 18.0495C3.60662 17.9395 3.67211 17.8395 3.7555 17.7555L21.2555 0.255477ZM19.6122 4.37498L23.625 8.38773L25.8877 6.12498L21.875 2.11223L19.6122 4.37498ZM22.3877 9.62498L18.375 5.61223L7 16.9872V17.5H7.875C8.10706 17.5 8.32962 17.5922 8.49371 17.7563C8.65781 17.9204 8.75 18.1429 8.75 18.375V19.25H9.625C9.85706 19.25 10.0796 19.3422 10.2437 19.5063C10.4078 19.6704 10.5 19.8929 10.5 20.125V21H11.0127L22.3877 9.62498ZM5.306 18.6812L5.1205 18.8667L2.4465 25.5535L9.13325 22.8795L9.31875 22.694C9.15183 22.6316 9.00793 22.5198 8.9063 22.3734C8.80466 22.2271 8.75013 22.0532 8.75 21.875V21H7.875C7.64293 21 7.42037 20.9078 7.25628 20.7437C7.09218 20.5796 7 20.357 7 20.125V19.25H6.125C5.94681 19.2498 5.77291 19.1953 5.62656 19.0937C5.4802 18.992 5.36836 18.8481 5.306 18.6812Z"
                                                        fill="currentColor" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_168_47">
                                                        <rect width="28" height="28" fill="white" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </button>

                                        <button class="btn eliminar" data-id="<%= emprendimiento.idEmprendimiento %>"
                                            title="Eliminar"
                                            onclick="deleteProducto('<%= usuario.idPersona %>','<%= emprendimiento.idEmprendimiento %>')">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                                                viewBox="0 0 28 28" fill="none">
                                                <path
                                                    d="M11.375 1.75H16.625C16.8571 1.75 17.0796 1.84219 17.2437 2.00628C17.4078 2.17038 17.5 2.39294 17.5 2.625V4.375H10.5V2.625C10.5 2.39294 10.5922 2.17038 10.7563 2.00628C10.9204 1.84219 11.1429 1.75 11.375 1.75ZM19.25 4.375V2.625C19.25 1.92881 18.9734 1.26113 18.4812 0.768845C17.9889 0.276562 17.3212 0 16.625 0L11.375 0C10.6788 0 10.0111 0.276562 9.51884 0.768845C9.02656 1.26113 8.75 1.92881 8.75 2.625V4.375H2.625C2.39294 4.375 2.17038 4.46719 2.00628 4.63128C1.84219 4.79538 1.75 5.01794 1.75 5.25C1.75 5.48206 1.84219 5.70462 2.00628 5.86872C2.17038 6.03281 2.39294 6.125 2.625 6.125H3.5665L5.05925 24.78C5.12964 25.6571 5.52782 26.4755 6.17448 27.0722C6.82114 27.6689 7.66884 28.0002 8.54875 28H19.4513C20.3312 28.0002 21.1789 27.6689 21.8255 27.0722C22.4722 26.4755 22.8704 25.6571 22.9408 24.78L24.4335 6.125H25.375C25.6071 6.125 25.8296 6.03281 25.9937 5.86872C26.1578 5.70462 26.25 5.48206 26.25 5.25C26.25 5.01794 26.1578 4.79538 25.9937 4.63128C25.8296 4.46719 25.6071 4.375 25.375 4.375H19.25ZM22.6765 6.125L21.196 24.64C21.1608 25.0785 20.9617 25.4877 20.6384 25.7861C20.3151 26.0845 19.8912 26.2501 19.4513 26.25H8.54875C8.10879 26.2501 7.68495 26.0845 7.36162 25.7861C7.03828 25.4877 6.8392 25.0785 6.804 24.64L5.3235 6.125H22.6765ZM9.57425 7.875C9.80583 7.86161 10.0333 7.94074 10.2065 8.09497C10.3798 8.2492 10.4847 8.46593 10.4983 8.6975L11.3733 23.5725C11.3824 23.8014 11.3015 24.0247 11.1479 24.1946C10.9942 24.3644 10.7801 24.4673 10.5515 24.481C10.3228 24.4948 10.0979 24.4183 9.92503 24.2681C9.75213 24.1179 9.64504 23.9058 9.62675 23.6775L8.75 8.8025C8.7429 8.68755 8.75855 8.57232 8.79608 8.46344C8.8336 8.35455 8.89225 8.25414 8.96867 8.16797C9.04508 8.0818 9.13776 8.01156 9.24138 7.96129C9.345 7.91101 9.45752 7.88169 9.5725 7.875H9.57425ZM18.4258 7.875C18.5407 7.88169 18.6533 7.91101 18.7569 7.96129C18.8605 8.01156 18.9532 8.0818 19.0296 8.16797C19.106 8.25414 19.1646 8.35455 19.2022 8.46344C19.2397 8.57232 19.2554 8.68755 19.2482 8.8025L18.3732 23.6775C18.3686 23.7938 18.3408 23.908 18.2914 24.0134C18.2421 24.1187 18.1722 24.2132 18.0859 24.2913C17.9996 24.3694 17.8986 24.4294 17.7888 24.468C17.679 24.5065 17.5626 24.5228 17.4464 24.5158C17.3303 24.5088 17.2167 24.4787 17.1123 24.4273C17.0079 24.3759 16.9148 24.3042 16.8385 24.2163C16.7621 24.1285 16.7041 24.0263 16.6677 23.9157C16.6314 23.8052 16.6175 23.6885 16.6268 23.5725L17.5018 8.6975C17.5153 8.46593 17.6202 8.2492 17.7935 8.09497C17.9667 7.94074 18.1942 7.86161 18.4258 7.875ZM14 7.875C14.2321 7.875 14.4546 7.96719 14.6187 8.13128C14.7828 8.29538 14.875 8.51794 14.875 8.75V23.625C14.875 23.8571 14.7828 24.0796 14.6187 24.2437C14.4546 24.4078 14.2321 24.5 14 24.5C13.7679 24.5 13.5454 24.4078 13.3813 24.2437C13.2172 24.0796 13.125 23.8571 13.125 23.625V8.75C13.125 8.51794 13.2172 8.29538 13.3813 8.13128C13.5454 7.96719 13.7679 7.875 14 7.875Z"
                                                    fill="currentColor" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </article>

                        <section class=" tabla-productos">
                            <header class="d-flex justify-content-between align-items-center mb-4 flex-wrap gap-2">
                                <h3 class="fw-bold m-0">Productos</h3>
                                <button onclick="addNewProduct('<%= usuario.idPersona %>')" class="btn btn-terracota">+
                                    Nuevo Producto</button>
                            </header>

                            <nav class="filtros-productos d-flex gap-3 mb-3 flex-wrap d-none">
                                <button class="btn filtro-activo">Publicado</button>
                                <button class="btn filtro-inactivo">Inactivo</button>
                            </nav>
                            <% const productosFiltrados = productos.filter(p => p.idEmprendimiento === emprendimiento.idEmprendimiento); %>
                            <% if (productosFiltrados.length > 0) { %>
                            <div class="table-responsive">
                                <table class="table tabla-akalia align-middle text-start m-0">
                                    <thead>
                                        <tr>
                                            <th>Imagen</th>
                                            <th>Título</th>
                                            <th>Emprendimiento</th>
                                            <th>Precio</th>
                                            <th class="d-none">Estado</th>
                                            <th>Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% productosFiltrados.forEach(producto=> { %>
                                                <tr>
                                                    <td>
                                                        <img src="<%= producto.urlImagen %>" alt="Imagen del producto"
                                                            class="img-producto" />
                                                    </td>
                                                    <td>
                                                        <%= producto.tituloProducto %>
                                                    </td>
                                                    <td>
                                                        <%= producto.nombreEmprendimiento %>
                                                    </td>
                                                    <td>$<%= producto.precio %>
                                                    </td>
                                                    <td class="d-none">
                                                        <%= producto.estado %>
                                                    </td>
                                                    <td>
                                                        <div class="acciones-producto">

                                                            <button
                                                                onclick="showUserProductDetail('<%= usuario.idPersona %>','<%= producto.idProducto %>')"
                                                                class="btn-icon" title="Ver">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="28"
                                                                    height="28" viewBox="0 0 28 20" fill="none">
                                                                    <path
                                                                        d="M28 10C28 10 22.75 0.375 14 0.375C5.25 0.375 0 10 0 10C0 10 5.25 19.625 14 19.625C22.75 19.625 28 10 28 10ZM2.05275 10C2.89762 8.71303 3.87094 7.51514 4.95775 6.42475C7.21 4.169 10.29 2.125 14 2.125C17.71 2.125 20.7882 4.169 23.044 6.42475C24.1308 7.51514 25.1041 8.71303 25.949 10C25.8487 10.1517 25.7349 10.3197 25.6077 10.504C25.0215 11.344 24.1553 12.464 23.044 13.5753C20.7882 15.831 17.7083 17.875 14 17.875C10.2917 17.875 7.21175 15.831 4.956 13.5753C3.86919 12.4849 2.89762 11.287 2.05275 10Z"
                                                                        fill="currentColor" />
                                                                    <path
                                                                        d="M14 5.625C12.8397 5.625 11.7269 6.08594 10.9064 6.90641C10.0859 7.72688 9.625 8.83968 9.625 10C9.625 11.1603 10.0859 12.2731 10.9064 13.0936C11.7269 13.9141 12.8397 14.375 14 14.375C15.1603 14.375 16.2731 13.9141 17.0936 13.0936C17.9141 12.2731 18.375 11.1603 18.375 10C18.375 8.83968 17.9141 7.72688 17.0936 6.90641C16.2731 6.08594 15.1603 5.625 14 5.625ZM7.875 10C7.875 8.37555 8.52031 6.81763 9.66897 5.66897C10.8176 4.52031 12.3755 3.875 14 3.875C15.6245 3.875 17.1824 4.52031 18.331 5.66897C19.4797 6.81763 20.125 8.37555 20.125 10C20.125 11.6245 19.4797 13.1824 18.331 14.331C17.1824 15.4797 15.6245 16.125 14 16.125C12.3755 16.125 10.8176 15.4797 9.66897 14.331C8.52031 13.1824 7.875 11.6245 7.875 10Z"
                                                                        fill="currentColor" />
                                                                </svg>
                                                            </button>
                                                            <button class="btn text-vinotinto" title="Editar"
                                                                onclick="editUserProductDetail('<%= usuario.idPersona %>','<%= producto.idProducto %>')">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="28"
                                                                    height="28" viewBox="0 0 28 28" fill="none">
                                                                    <g clip-path="url(#clip0_168_47)">
                                                                        <path
                                                                            d="M21.2555 0.255477C21.3368 0.173992 21.4333 0.109342 21.5396 0.0652303C21.6459 0.021119 21.7599 -0.00158691 21.875 -0.00158691C21.9901 -0.00158691 22.1041 0.021119 22.2104 0.0652303C22.3167 0.109342 22.4132 0.173992 22.4945 0.255477L27.7445 5.50548C27.826 5.58676 27.8906 5.68331 27.9347 5.78962C27.9789 5.89592 28.0016 6.00988 28.0016 6.12498C28.0016 6.24007 27.9789 6.35403 27.9347 6.46034C27.8906 6.56664 27.826 6.6632 27.7445 6.74448L10.2445 24.2445C10.1605 24.3279 10.0605 24.3934 9.9505 24.437L1.2005 27.937C1.04148 28.0006 0.867289 28.0162 0.699505 27.9818C0.531722 27.9474 0.377729 27.8645 0.256618 27.7434C0.135506 27.6222 0.0526026 27.4683 0.0181846 27.3005C-0.0162335 27.1327 -0.000652346 26.9585 0.0629963 26.7995L3.563 18.0495C3.60662 17.9395 3.67211 17.8395 3.7555 17.7555L21.2555 0.255477ZM19.6122 4.37498L23.625 8.38773L25.8877 6.12498L21.875 2.11223L19.6122 4.37498ZM22.3877 9.62498L18.375 5.61223L7 16.9872V17.5H7.875C8.10706 17.5 8.32962 17.5922 8.49371 17.7563C8.65781 17.9204 8.75 18.1429 8.75 18.375V19.25H9.625C9.85706 19.25 10.0796 19.3422 10.2437 19.5063C10.4078 19.6704 10.5 19.8929 10.5 20.125V21H11.0127L22.3877 9.62498ZM5.306 18.6812L5.1205 18.8667L2.4465 25.5535L9.13325 22.8795L9.31875 22.694C9.15183 22.6316 9.00793 22.5198 8.9063 22.3734C8.80466 22.2271 8.75013 22.0532 8.75 21.875V21H7.875C7.64293 21 7.42037 20.9078 7.25628 20.7437C7.09218 20.5796 7 20.357 7 20.125V19.25H6.125C5.94681 19.2498 5.77291 19.1953 5.62656 19.0937C5.4802 18.992 5.36836 18.8481 5.306 18.6812Z"
                                                                            fill="currentColor" />
                                                                    </g>
                                                                    <defs>
                                                                        <clipPath id="clip0_168_47">
                                                                            <rect width="28" height="28" fill="white" />
                                                                        </clipPath>
                                                                    </defs>
                                                                </svg>
                                                            </button>
                                                            <button class="btn text-vinotinto eliminar" title="Eliminar"
                                                                onclick="deleteProducto('<%= usuario.idPersona %>','<%= producto.idProducto %>','8')">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="28"
                                                                    height="28" viewBox="0 0 28 28" fill="none">
                                                                    <path
                                                                        d="M11.375 1.75H16.625C16.8571 1.75 17.0796 1.84219 17.2437 2.00628C17.4078 2.17038 17.5 2.39294 17.5 2.625V4.375H10.5V2.625C10.5 2.39294 10.5922 2.17038 10.7563 2.00628C10.9204 1.84219 11.1429 1.75 11.375 1.75ZM19.25 4.375V2.625C19.25 1.92881 18.9734 1.26113 18.4812 0.768845C17.9889 0.276562 17.3212 0 16.625 0L11.375 0C10.6788 0 10.0111 0.276562 9.51884 0.768845C9.02656 1.26113 8.75 1.92881 8.75 2.625V4.375H2.625C2.39294 4.375 2.17038 4.46719 2.00628 4.63128C1.84219 4.79538 1.75 5.01794 1.75 5.25C1.75 5.48206 1.84219 5.70462 2.00628 5.86872C2.17038 6.03281 2.39294 6.125 2.625 6.125H3.5665L5.05925 24.78C5.12964 25.6571 5.52782 26.4755 6.17448 27.0722C6.82114 27.6689 7.66884 28.0002 8.54875 28H19.4513C20.3312 28.0002 21.1789 27.6689 21.8255 27.0722C22.4722 26.4755 22.8704 25.6571 22.9408 24.78L24.4335 6.125H25.375C25.6071 6.125 25.8296 6.03281 25.9937 5.86872C26.1578 5.70462 26.25 5.48206 26.25 5.25C26.25 5.01794 26.1578 4.79538 25.9937 4.63128C25.8296 4.46719 25.6071 4.375 25.375 4.375H19.25ZM22.6765 6.125L21.196 24.64C21.1608 25.0785 20.9617 25.4877 20.6384 25.7861C20.3151 26.0845 19.8912 26.2501 19.4513 26.25H8.54875C8.10879 26.2501 7.68495 26.0845 7.36162 25.7861C7.03828 25.4877 6.8392 25.0785 6.804 24.64L5.3235 6.125H22.6765ZM9.57425 7.875C9.80583 7.86161 10.0333 7.94074 10.2065 8.09497C10.3798 8.2492 10.4847 8.46593 10.4983 8.6975L11.3733 23.5725C11.3824 23.8014 11.3015 24.0247 11.1479 24.1946C10.9942 24.3644 10.7801 24.4673 10.5515 24.481C10.3228 24.4948 10.0979 24.4183 9.92503 24.2681C9.75213 24.1179 9.64504 23.9058 9.62675 23.6775L8.75 8.8025C8.7429 8.68755 8.75855 8.57232 8.79608 8.46344C8.8336 8.35455 8.89225 8.25414 8.96867 8.16797C9.04508 8.0818 9.13776 8.01156 9.24138 7.96129C9.345 7.91101 9.45752 7.88169 9.5725 7.875H9.57425ZM18.4258 7.875C18.5407 7.88169 18.6533 7.91101 18.7569 7.96129C18.8605 8.01156 18.9532 8.0818 19.0296 8.16797C19.106 8.25414 19.1646 8.35455 19.2022 8.46344C19.2397 8.57232 19.2554 8.68755 19.2482 8.8025L18.3732 23.6775C18.3686 23.7938 18.3408 23.908 18.2914 24.0134C18.2421 24.1187 18.1722 24.2132 18.0859 24.2913C17.9996 24.3694 17.8986 24.4294 17.7888 24.468C17.679 24.5065 17.5626 24.5228 17.4464 24.5158C17.3303 24.5088 17.2167 24.4787 17.1123 24.4273C17.0079 24.3759 16.9148 24.3042 16.8385 24.2163C16.7621 24.1285 16.7041 24.0263 16.6677 23.9157C16.6314 23.8052 16.6175 23.6885 16.6268 23.5725L17.5018 8.6975C17.5153 8.46593 17.6202 8.2492 17.7935 8.09497C17.9667 7.94074 18.1942 7.86161 18.4258 7.875ZM14 7.875C14.2321 7.875 14.4546 7.96719 14.6187 8.13128C14.7828 8.29538 14.875 8.51794 14.875 8.75V23.625C14.875 23.8571 14.7828 24.0796 14.6187 24.2437C14.4546 24.4078 14.2321 24.5 14 24.5C13.7679 24.5 13.5454 24.4078 13.3813 24.2437C13.2172 24.0796 13.125 23.8571 13.125 23.625V8.75C13.125 8.51794 13.2172 8.29538 13.3813 8.13128C13.5454 7.96719 13.7679 7.875 14 7.875Z"
                                                                        fill="currentColor" />
                                                                </svg>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                 <% }); %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <% } else { %>
                                        <p class="mb-2 usuario-perfil-info">
                                            No hay productos registrados en este emprendimiento
                                        </p>
                                        <% } %>
                        </section>


                    </section>
                </main>
        </div>
        <%- include('../partials/footer.ejs'); %>
            <script src="/js/perfilUsuario.js"></script>
            <script src="/lib/js/bootstrap.min.js.map"></script>
            <script src="/lib/js/bootstrap.bundle.min.js"></script>
            <script src="/js/perfilEmprendimiento.js"></script>
            <script src="/js/login_signup.js"></script>
            <script src="/js/productos.js"></script>

            <!-- Bootstrap + FontAwesome -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
</body>

</html>